<div class="main">

  {% assign num1 = 7 %}
  {% assign num2 = 5 %}
  <h1>multiply is {{ num1 | times: num2  }}</h1>
  
</div>



<style>
  .main{
    display: flex;
    justify-content : center ;
    height : 50vh;
    align-item : center ;
  }
</style>